body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.calculator {
    border: 1px solid black;
    border-radius: 10px;

}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    font-size: 60px;
}

.viewer {
    width: 350px;
    height: 90px;
    font-size: 40px;
    border-radius: 10px;
    margin-left: 10px;
}

.clear {
    margin-left: 10px;
    height: 80px;
}

