body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.bg-image {
    background-image: url(lenin.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.calculator {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin: 0 auto;
    width: 10em;
}



.viewer {
    color: #c97874;
    line-height: 3em;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 15em;
    height: 2.5em;
    font-size: 18px;
    border: 3px groove orange;
}

button {
    border: 0;
    background: rgba(0, 0, 0, 0.1);
    color: green;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
    transition: all 0.5s;
}

.button:hover {
    background: #59f796;
    color: white;

}

.button-panel {
    margin-top: 10px;
    width: 280px;
    height: 350px;
}